lombok.allArgsConstructor.flagUsage = error
lombok.requiredArgsConstructor.flagUsage = error
lombok.noArgsConstructor.flagUsage = error
lombok.getter.flagUsage = error
lombok.data.flagUsage = error
lombok.setter.flagUsage = error
lombok.equalsAndHashCode.flagUsage = error
lombok.var.flagUsage = error
lombok.val.flagUsage = error
lombok.value.flagUsage = error
lombok.toString.flagUsage = error
